[user]
	name = Federico Cerutti
	email = federico@ceres-c.it
[credential]
	helper = cache --timeout=3600
[core]
	pager = less
	editor = nano
	excludesfile = /home/federico/dotfiles/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
