[user]
	name = Federico Cerutti
	email = federico@ceres-c.it
[credential]
	helper = cache --timeout=3600
[core]
	editor = nano
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
