[user]
	name = Federico Cerutti
	email = federico@ceres-c.it
	signingkey = 2158A6BAD1D01529
[credential]
	helper = cache --timeout=3600
[core]
	pager = less -+FX
	editor = nano
	excludesfile = ~/dotfiles/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[url "ssh://git@github.com/"]
	pushInsteadOf = https://github.com/
[mergetool]
	keepBackup = false
[submodule]
	recurse = true
[color]
	ui = auto
[pull]
	ff = only
