[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
Actions=openTerminator;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
Icon=terminator

[Desktop Action openTerminator]
Name=Open Terminator Here
Icon=terminator
Exec=terminator --working-directory=%f
